page-register {


  .item-inner, ion-item  {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .red-border{
    border-width: 1.5px;
    border-style: solid;
    border-color: red;
  }

  .bg-style {
    background:lavender;
  }
  .black-border{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    //border-bottom-color: black;
  }
  b{
    color:red;
    font-size:15px;
  }

}
