page-distress-buttone {
  .button5{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    //text-align: center;
    //justify-content: center;
    border: 4px solid rgba(255,255,255,0.4);
  }
  .button-nav{
    //width: 420px;
    //height: 100px ;
    //padding: 10px 24px;
    ////margin: 10px;
    //display: block;
    //flex-direction: row;
    //justify-content: center;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    //flex-flow: row;
    //align-content: center;
  }

}
