page-settings {
  .masters {
    background:lavender;
  }
  .my-label {
    text-align:right;
    font-size:18px;
    color: black;

  }
  .error {
    color: rgb(223, 62, 62);
    font-size: 10px;
    text-align:right;
  }


}
