<!--
  Generated template for the SettingsPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class ="masters">
  <form [formGroup]="credentialsForm">
    <button ion-button  [disabled]="!credentialsForm.valid"  (click)="doneSettings()" type="submit" color="dark" outline>Done</button>


    <ion-label class="my-label" >:סוג התמכרות</ion-label>
    <ion-item  class ="masters">
      <ion-label ></ion-label>
      <ion-select [formControl]="credentialsForm.controls['addictsType']" cancelText="ביטול" okText="אישור" #addictsType >
        <ion-option value="drugs">סמים</ion-option>
        <ion-option value="alcohol">אלכהול</ion-option>
        <ion-option value="gambling">הימורים</ion-option>
      </ion-select>

    </ion-item>
    <div *ngIf="!credentialsForm.controls.addictsType.valid"
         class="error">
      שדה חובה*
    </div>

    <ion-item class ="masters">
      <ion-label >מנטור</ion-label>
      <ion-toggle #mentor color="danger" checked="false" ></ion-toggle>
    </ion-item>

    <ion-label class="my-label" >:מגדר</ion-label>
    <ion-item class ="masters">
      <ion-label></ion-label>
      <ion-select [formControl]="credentialsForm.controls['gender']"  cancelText="ביטול" okText="אישור"  #gender >
        <ion-option value="male">גבר</ion-option>
        <ion-option value="female">אישה</ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="!credentialsForm.controls.gender.valid"
         class="error">
      שדה חובה*
    </div>

    <ion-label class="my-label">תאריך לידה</ion-label>
    <ion-item class ="masters">
      <ion-label floating>בחר תאריך</ion-label>
      <ion-datetime [formControl]="credentialsForm.controls['BirthDate']" displayFormat="MMM D, YYYY" #BirthDate></ion-datetime>
    </ion-item>
    <div *ngIf="!credentialsForm.controls.BirthDate.valid"
         class="error">
      שדה חובה*
    </div>
    <ion-label  class="my-label">:ספר מה שאתה רוצה שידעו עליך</ion-label>
    <ion-item>
      <ion-textarea #about ></ion-textarea>
    </ion-item>


  </form>
</ion-content>
