
<ion-header>
  <ion-navbar color="hcolor">
    <ion-title>SearchFriends</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding  class ="masters">
  <div class="card-container" *ngIf="ready">
    <sc-card padding *ngFor="let attendant of attendants"
             [orientation]="cardDirection"
             [tinder-card]="cardOverlay"
             [callDestroy]="attendant.destroyEvent"
             [callLike]="attendant.likeEvent"
             (onLike)="onCardInteract($event, attendant)">
      <div class="user_img" [style.background-image]="attendant.asBg"></div>
      <ion-card-header>
        <ion-card-title class="name_and_age">{{attendant.displayName}}, {{attendant.age}}</ion-card-title>
      </ion-card-header>
    </sc-card>
  </div>
</ion-content>
